<div
  class="col-xs-12 col-md-8 col-md-offset-2"
  style="margin-left: auto; margin-right: auto"
>
  <table
    class="table table-hover"
    style="
      width: 700px;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    "
  >
    <thead>
      <tr>
        <th class="session-list left"><strong>Name</strong></th>
        <th class="session-list center"><strong>Members</strong></th>
        <th class="session-list right"><strong>Options</strong></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let room of rooms">
        <tr>
          <td class="session-list left">
            <strong>{{ room.name }}</strong>
          </td>
          <td class="session-list center">
            <strong>{{ room.members.length }}</strong>
          </td>
          <td class="session-list right">
            <button
              type="button"
              class="btn btn-primary"
              ng-click="list.open(session)"
              (click)="openRoom(room.roomid)"
            >
              Open
            </button>
            <button
              type="button"
              class="btn btn-primary"
              ng-click="list.join(session)"
              (click)="joinRoom(room.roomid)"
            >
              Join
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
